.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 16px;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    width: 100%;
}
.row-2 {
    width: calc(16.67% - 16px);
}

.row-3 {
    width: calc(25% - 16px);
}

.row-4 {
    width: calc(33.33% - 16px);
}

.row-6 {
    width: calc(50% - 16px);
}
.col {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin: 0 8px;
    width: 100%;
}

.col-2 {
    width: calc(16.67% - 16px);
}

.col-3 {
    width: calc(25% - 16px);
}

.col-4 {
    width: calc(33.33% - 16px);
}

.col-6 {
    width: calc(50% - 16px);
}