.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
}
.submitBtn{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    padding: 16px 0px;
    font-size: 14px;
}
.welcome{
    padding: 30px 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}