.back-drop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

.upload-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    word-spacing: -3px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 50%;
    height: 100px;
    border-radius: 30px;
    border: none;
    box-shadow: 5px 5px 5px grey;
}
.plz-upload {
    margin: 0 auto;
    font-weight: 700;
    word-spacing: -3px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    height: 100px;
    border-radius: 30px;
    border: 3px black dashed;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}
.upload-message{
    text-align: center;
}

.opencv-loader-backdrop{
    padding: 16px;
    background-color: white;
    border-radius: 15px;
}
.opencv-loader-content{
    text-align: center;
}
.opencv-loader-message{
    padding-top: 30px;
}
.method{
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: var(--alert-color);
}