.title{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0px;
    margin: 30px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
}
.title::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 120%;
    border: 1px solid var(--dark-color);
}
.title::before{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 120%;
    border: 1px solid var(--dark-color);
}
.cta
{
    padding-top: 30px;
    text-align: center;
}
.ctaBtn{
    margin: 30px;
    width: 300px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--success-color);
    transition: scale 0.2s ease;
}
.ctaBtn:hover{
    border: 3px solid black;
    scale: 1.2;
}