.container{
    margin: 0 200px;
}

@media (max-width:1000px) {
    .container{
        margin: 0;
    }
}
.title{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0px;
    margin: 30px 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
}
.title::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 120%;
    border: 1px solid var(--dark-color);
}
.title::before{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 120%;
    border: 1px solid var(--dark-color);
}