canvas {
    border: 1px solid black;
}
.main-canvas{
    display: block;
    margin: 0 auto;

}
.cropped-container{
    margin: 16px 0px;
    padding: 16px 0px;

}
.cropped {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    display: flex;
    justify-content: center;
}