.footer{
    padding-top: 16px;
    bottom: 0;
    font-size: 14px;
    color: var(--success-color);
    background-color: var(--dark-color);
}
.sitemap{
    display: flex;
    justify-content: center;
    column-gap: 32px;
}
.category{
    text-align: center;
}
.category >div:first-child{
    font-weight: 700;
}
.category > div:first-child::after{
    display: block;
    margin: 1px 0px;
    content: "";
    border-bottom: 1px solid var(--light-color);
}
.category > a{
    cursor: pointer;
    color: var(--success-color);
    text-decoration: none;
}
/* .category > a:visited{
    text-decoration: none;
} */
.category > a::after{
    display: block;
    content: "";
    width: 0%;
    border-bottom: 1px solid var(--info-color);
    transition: width 0.3s ease;
}
.category > a:hover::after{
    width: 100%;
}
.copyright{
    padding-bottom: 16px;
    text-align: center;
}
.copyright::before{
    display: block;
    margin: 8px 0px;
    content: "";
    border-top: 1px solid gray;
}