.container {
    /* height: 80px; */
    padding: 16px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 16px;
}
a {
    color: var(--success-color);
    text-decoration: none;
}
a:hover{
    color: var(--alert-color);
}
.header{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding-top: 10px;
    column-gap: 16px;
}
/* .menu >a{
    color: var(--success-color);
    text-decoration: none;
} */
.logo{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
}