.container{
    position: relative;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}
.carousel{
    position: absolute;
    width: 100%;
    left: 0%;
    transition: left 0.3s ease-in;
    
}
.carousel-item{
    position: absolute;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1000px){
    .image {
        width: 100%;
        max-width: 400px;
    }
}
.image{
    width: 100%;
    max-width: 800px;
}
.nextBtn{
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 24px;
    font-weight: 900;
    color: var(--success-color);
    background-color: var(--light-color);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.prevBtn{
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 24px;
    font-weight: 900;
    color: var(--success-color);
    background-color: var(--light-color);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.statement{
    font-weight: 700;
    padding: 16px;
}
.dots{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    left: 50%;
    background-color: #eee;
    padding: 4px 10px;
    border-radius: 50px;
    transform: translateX(-50%);
    z-index: 5;
}
.dot{
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--dark-color);
}
.activated{
    background-color: var(--success-color);
}