.multiSelect {
    display: block;
    padding: 16px 0px;
    /* position: relative; */
}
.header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.chips {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    align-items: center;
}

.chip {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    color: var(--dark-color);
    border-radius: 16px;
    padding: 4px 8px;
    margin-right: 8px;
}
.statement{
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}
.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--alert-color);
    font-size: 16px;
    font-weight: 900;
    margin-left: 4px;
}
.buttonContainer{
    display: flex;
    align-items: center;
}
.options {
    max-height: 300px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    margin: 0;
}
@media (max-width: 400px) {
    .options {
        grid-template-columns: 1fr;
    }
}
.option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid #2222;
}
.option:hover{
    background-color: #2222;
}

input[type='checkbox'] {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.clearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.optionToggleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transition: transform 1s ease; */
    /* transition: top 0.3s ease; */
}

.option-toggle-btn-on {
    transform: rotate(0deg);
}
.option-toggle-btn-off {
    transform: rotate(180deg);
}